In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

Bad key text.latex.preview in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file /Users/thomasat/opt/miniconda3/envs/nhanes/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
digitized_data_folder = '../data/prepared/digitized/weekly/'
filenames = {'Zhao': 'Zhao.csv',
'StewartMilk': 'StewartMilk.csv',
'StewartPBMilk': 'StewartPBMilk.csv'}
for filename in filenames:
    filenames[filename] = digitized_data_folder +  filenames[filename]

In [3]:
pd.read_csv(filenames['StewartMilk'])

     Unnamed: 0        Date  Month  Year  StewartMilk
0             0  2013-01-19      1  2013     0.441384
1             1  2013-01-26      1  2013     0.445189
2             2  2013-02-02      2  2013     0.443460
3             3  2013-02-09      2  2013     0.437640
4             4  2013-02-16      2  2013     0.432170
..          ...         ...    ...   ...          ...
255         255  2017-12-09     12  2017     0.344551
256         256  2017-12-16     12  2017     0.334556
257         257  2017-12-23     12  2017     0.327278
258         258  2017-12-30     12  2017     0.311470
259         259  2018-01-06      1  2018     0.298024

[260 rows x 5 columns]

In [4]:
merged = None
for outcome in filenames:
    df = pd.read_csv(filenames[outcome]).drop(columns=['Unnamed: 0'])
    if merged is None:
        merged = df
    else:
        merged = merged.merge(df, on=['Year', 'Month', 'Date'], how='outer')

In [5]:
merged = merged.sort_values(['Date'])
merged

           Date  Month  Year      Zhao  StewartMilk  StewartPBMilk
183  2013-01-19      1  2013       NaN     0.441384       0.028716
184  2013-01-26      1  2013       NaN     0.445189       0.028485
185  2013-02-02      2  2013       NaN     0.443460       0.028215
186  2013-02-09      2  2013       NaN     0.437640       0.028216
187  2013-02-16      2  2013       NaN     0.432170       0.028580
..          ...    ...   ...       ...          ...            ...
178  2020-06-06      6  2020  0.003692          NaN            NaN
179  2020-06-13      6  2020  0.003620          NaN            NaN
180  2020-06-20      6  2020  0.003607          NaN            NaN
181  2020-06-27      6  2020  0.003636          NaN            NaN
182  2020-07-04      7  2020  0.003802          NaN            NaN

[390 rows x 6 columns]

In [6]:
merged.to_csv(digitized_data_folder + 'merged.csv',index=False)

In [7]:
#plt.plot(merged['Date'], merged['Zhao'], label='Zhao')
#plt.plot(merged['Date'], merged['NeuhoferLusk'],label='NeuhoferLusk')
#plt.plot(merged['Date'], merged['StewartMilk'],label='StewartMilk')
#plt.plot(merged['Date'], merged['StewartPBMilk'],label='StewartPBMilk')
#plt.legend()
#plt.yscale('log')